{% extends 'monitor/base.html' %}

        {% block content %}
                    <!-- CARDS -->
                    <main class="main-container">
                        <div class="charts-card">
                            <p class="chart-title">Account Settings</p>
                                <h5>Change Name</h5>
                                <form action="{% url 'changename' %}" method="post">
                                    {% csrf_token %}
                                    <div class="text-area">
                                        <input type="text" name="name" placeholder="Name" value="{{ username }}" required>
                                        <span></span>
                                        <label>New Username</label>
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                </form>

                                <br>
                                <br>



                                <h5>Notification Webhook</h5>
                                <form action="{% url 'changewebhook' %}" method="post">
                                    {% csrf_token %}
                                    <div class="text-area">
                                        <input type="text" name="url" value="{{notifier.webhook}}" placeholder="Webhook Url"  required>
                                        <span></span>
                                        <label>Webhook</label>
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                </form>

                                <br>
                                <br>
                                
                                <h5>Change Password</h5>
                                <button onclick="redirect()" class="btn btn-outline-secondary">Click Here</button>


                                <br>
                                <br>
                                            
                            <p class="chart-title">Notification Settings</p>
                            
                                    <form method="post">
                                        {% csrf_token %}
                                        <table class="table table-bordered table-hover table-light table-striped">
                                            <thead>
                                                <tr>
                                                    <th>System Name</th>
                                                    <th>Antivirus Notification</th>
                                                    <th>Firewall Notification</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for system in systems %}
                                                <tr>
                                                    <td>{{ system.name }}</td>
                                                    <td>
                                                        <input class="form-check-input" type="checkbox" {% if system.antivirus_notification %}checked{% endif %}
                                                               name="antivirus_{{ system.id }}">
                                                        <label class="form-check-label"></label>
                                                    </td>
                                                    <td>
                                                        <input class="form-check-input" type="checkbox" {% if system.firewall_notification %}checked{% endif %}
                                                               name="firewall_{{ system.id }}">
                                                        <label class="form-check-label"></label>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <button class="btn btn-outline-secondary" type="submit">Save</button>
                                    </form>
                                    
                                
                        </div>
                    </main>
                <script>
                    function redirect(){
                        location.href = "{% url 'account_change_password' %}"
                    }
                </script>
        {% endblock %}