{% extends 'monitor/base.html' %}

        {% block content %}
        <main class="main-container">

            <div class="report-chart">
                <div class="charts-card">
                        <p class="chart-title">Running process</p>
                        <table class="table table-light table-striped table-hover table-bordered">
                                <thead>
                                        <tr>
                                            <th>
                                                PID
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in process %}
                                        <tr>
                                            <td>
                                                {{i.pid}}
                                            </td>
                                            <td>
                                                {{i.name}}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
            
                                    </tbody>

                        </table>
                </div>
            </div>
            </main>
            
{% endblock %}